<a href="https://colab.research.google.com/github/aduboseh/aduboseh/blob/main/FunctionsA1credit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def Q1():
  print("Hello World")
Q1()

In [ ]:
def Q2():
  print('Eastern University')
Q2()

In [ ]:
def Q3(x):
  print(x)
Q3(5)

In [ ]:
def Q4(y):
  return y*y
Q4(5)

In [ ]:
def Q5(z):
  return z**z
Q5(3)

In [ ]:
def Q6(a):
  print("The argument is 6")
Q6(6)

In [ ]:
def Q7(b, c):
  print(b - c)
Q7(10, 6)

In [ ]:
def Q8(d,e,f,g,h):
  print(d*e*f*g*h)
Q8(1,2,3,4,5)

In [ ]:
def Q9():
  for num in range(0,5):
    print(num)
Q9()