<a href="https://colab.research.google.com/github/aduboseh/aduboseh/blob/main/IntroPythonA2credit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Q1 = "Data Science for all!"

In [ ]:
def Q2():
  Q1 = "Data Science for all!"
  for word in Q1:
    print(word)
Q2()

In [ ]:
def Q3():
  Q1 = "Data 'Science' for 'all!"
  words = Q1.split()
  for word in words:
    for char in word:
      print('A')
Q3()

In [ ]:
Q4 = ["DTSC 520", "DTSC 550", "DTSC 575", "DTSC 600","DTSC 650"]

In [ ]:
def Q5():
  Q4 = ["DTSC 520", "DTSC 550", "DTSC 575", "DTSC 600","DTSC 650"]
  for classes in Q4:
    print(classes)
Q5()

In [ ]:
def Q6():
  a = 2
  while a <= 50:
    print(a)
    a += a
Q6()

In [ ]:
Q7 = [2,3,5,7,11,13,17,19,23,29]

In [ ]:
def Q8():
  Q7 = "2,3,5,7,11,13,17,19,23,29"
  numbers = [2,3,5,7,11,13,17,19,23,29]
  return(sum(numbers))
Q8()

129