In [1]:
import numpy as np

In [2]:
np.random.seed(100)
A = np.random.rand(20)

In [3]:
Q1 = np.sum(A)

In [4]:
Q2 = np.max(A)

In [5]:
np.random.seed(100)
B = np.random.rand(4,5)

In [6]:
Q3 = np.min(B, axis=1)

In [7]:
Q4 = np.mean(B)

In [ ]:
C = np.array([2, 3, np.nan, 5])
Q5 = np.nansum(C)

In [ ]:
np.random.seed(100)
D = np.random.rand(4)
E = np.random.rand(4)
Q6 = np.concatenate([D,E])

In [ ]:
np.random.seed(100)
q7 = np.random.rand(4, 4)
Q7 =np.concatenate([q7, q7])

In [ ]:
np.random.seed(100)
q8 = np.random.rand(2, 4)
Q8 = np.vstack([q7, q8])

In [ ]:
Q9 = np.vstack([q7, q7, q7, q8, q8])

In [34]:
np.random.seed(100)
F = np.random.rand(2,1)
Q10 = np.hstack([F, q8])

In [45]:
q11 = np.random.rand(20)
Q11a, Qllb = np.split(q11, [5])

In [ ]:
Q12a, Q12b, Q12c = np.split(q11, [10, 15])

In [ ]:
q13 = np.random.rand(5, 5)
Q13a, Q13b = np.vsplit(q13, [3])

In [ ]:
Q14a, Q14b = np.hsplit(q13, [3])