In [3]:
import numpy as np

In [13]:
np.random.seed(77)
Q1 = np.random.randint(50, size =(8, 6))

In [14]:
Q2 = Q1[2:7, 4:]

In [9]:
Q3 = Q1[2:, 3:5]

In [10]:
Q4 = Q3.reshape((2,6))

In [11]:
Q5 = Q4.reshape((3,4))

In [18]:
firstname = ['Janetta', 'Deb', 'Minato', 'Maurine', 'Niketas']
lastname = ['Lydia', 'Albin', 'Vanja', 'Peter', 'Justine']
height = [58, 68, 78, 77, 70]
age = [58, 50, 38, 57, 60]

In [ ]:
Q6 = np.zeros(5, dtype={'names' :('firstname', 'lastname', 'height', 'age'),
                       'formats' :('U20', 'U20', 'int16', 'int16')})
Q6['firstname'] = firstname
Q6['lastname'] = lastname
Q6['height'] = height
Q6['age'] = age