In [1]:
import numpy as np

In [ ]:
q1 = {
    "One": "A",
    "Two": "B",
    "Three": "C",
    "Four": "D"
}

q1

Q1 = q1['Three']

In [ ]:
Q2 = {
    "Five": "E",
    "Six": "F"
}

Q2

In [ ]:
Q2["Seven"] = "G"

In [ ]:
Q3 = {
    "Eight": "H"
}
Q3

del(Q3['Eight'])

In [ ]:
Q4 = {
    "Nine": "I",
    "Ten": "J",
}

Q4

In [15]:
Q4["Ten"] = "K"

In [ ]:
def Q5(q1):
  for i in q1.values():
    print(i)
Q5(q1)

In [ ]:
def Q6(q1):
  for i in q1:
    print(i)
q1 = {
    "One": "A",
    "Two": "B",
    "Three": "C",
    "Four": "D"
}
Q6(q1)

In [ ]:
Q7 = {
        "Least Favorite": {"Fruit": "Grape", "Color": "Purple"},
        "Medium Favorite": {"Fruit": "Apple", "Color": "Red"},
        "Most Favorite": {"Fruit": "Banana", "Color": "Yellow"}
}
Q7