In [1]:
import numpy as np

In [ ]:
np.random.seed(56)
Q1 = np.random.randint(20, size = (10, 10)

In [3]:
Q2 = Q1[2:5, 3:8]

In [4]:
Q3 = Q1[7:, 4:6]

In [5]:
Q4 = Q3.reshape((2,3))

In [15]:
np.random.seed(0)
x = np.random.randint(0,15, size = 10)
y = np.random.randint(0,15, size = 10)
Q5 = np.concatenate([x,y])

In [7]:
Q6a = [Q5[1], Q5[3], Q5[10], Q5[9]]

In [8]:
Q6b = [Q5[18], Q5[1], Q5[18], Q5[4], Q5[14], Q5[17], Q5[11]]
Q6b[4] = 14

In [9]:
Q6c = [Q5[3], Q5[7], Q5[6], Q5[13], Q5[6], Q5[6]]

In [10]:
Q6d = [Q5[14], Q5[2], Q5[11]]
Q6d[0] = 14

In [20]:
Q7 = np.sum(Q5)

In [21]:
np.random.seed(0)
Q8 = np.random.randint(48,86, size = 50)
Q8 = np.mean(Q8)

In [23]:
name = ['Jonathan Loaisiga', "Nick Saban", 'Katie Ladecky']
occupation = ['Baseball player', 'Football coach', 'Swimmer']
salary = [595800.00, 8619934.23, 100000.00]

In [24]:
data = np.zeros(3, dtype = {'names' :('name', 'occupation', 'salary'),
                            'formats' :('U20', 'U20', 'f8')})