In [1]:
import numpy as np
import pandas as pd

In [2]:
index = [('One', 1),('One', 2),
         ('Two', 1), ('Two', 2),
         ('Three', 1), ('Three', 2)]
digits = [11, 111,
               22, 222,
               33, 333]
Q1 = pd.Series(digits, index=index)
#creaing a series from the dictionary above
index = pd.MultiIndex.from_tuples(index)
#creating a multi dimensional index from tuples of the index created above
Q1 = Q1.reindex(index)
#reindexing to created a stacked list
Q1.index.names = ['Words', 'Numbers']
# naming indexes for ease of use

In [3]:
Q2 = Q1['Three']

In [4]:
Q3 = Q1[:,2]

In [5]:
Q4 = Q1.unstack()

In [6]:
Q5 = Q4.sum()

In [7]:
np.random.seed(12)
Q6 = pd.DataFrame(np.random.randint(9, size= (6, 2)),
                  index = [['a', 'b', 'a', 'b', 'a', 'b'], [1, 2, 3, 1, 2, 3]],
                  columns = ['A', 'B'])
#creating a pandas dataframe usining numpys random intergers with a random seed of 12

In [8]:
index = pd.MultiIndex.from_product([['ONE', 'TWO', 'THREE'], ['one', 'two']],
                                   names = ['NUMBER', 'number'])
columns = pd.MultiIndex.from_product([['A', 'B'], ['a', 'b', 'c', 'd']],
                                     names =['LETTER', 'letter'])
#using multiindex from_product to create labels for the column and index names
np.random.seed(12)
data = np.random.randint(20, size = (6, 8))
Q7 = pd.DataFrame(data, index=index, columns=columns)

In [9]:
Q8 = Q7.iloc[:, :4].copy().droplevel(level=0, axis =1)
#slicing DF and dropping level 0

In [35]:
A = pd.Series([7, 8, 9, 10], index=['ONE', 'TWO','THREE','FOUR'])

B = pd.Series([11, 12, 13, 14], index=['THREE', 'FOUR','FIVE','SIX'])

In [ ]:
Q9 = pd.concat([A, B], axis = 1)
Q9

In [55]:
Q10 = pd.concat([A, B])

In [ ]:
Q11 = pd.concat([A,B], keys= ['A', 'B'])
#using the key function to add values to row side

In [ ]:
A = pd.Series([7, 8, 9, 10], index=['ONE', 'TWO','THREE','FOUR'])
B = pd.Series([11, 12, 13, 14], index=['THREE', 'FOUR','FIVE','SIX'])
C = pd.Series([15, 16], index = ['SEVEN', 'EIGHT'])

df_A = pd.DataFrame(A, columns = ['A'])
df_B = pd.DataFrame(B, columns = ['B'])
df_C = pd.DataFrame(C, columns = ['C'])

Q12 = pd.concat([df_A, df_B, df_C], sort = False)